<p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- webkarta.net top -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-0006856964532208"
         data-ad-slot="6917877218"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</p>